// spaces
$dark-gray-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);

$white: #ffffff;

// font
$dark-gray: #48556a;
$light-gray: #6e8098;
$lightest-gray: #9daec2;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: $light-gray-blue;

  // outline everything:
  // * {
  //   border: 1px solid red;
  // }
}

.card {
  background-color: $white;
  width: 730px;
  height: 280px;
  border-radius: 10px;
  overflow: visible;
  margin: 280px auto;
  display: flex;
  color: $light-gray;

  .card-image {
    height: 280px;
    width: 285px;
    overflow-x: clip;

    img {
      height: inherit;
      border-radius: 10px 0 0 10px;
    }
  }

  .card-content {
    margin: 35.65px 40px;

    .card-heading {
      font-weight: 700;
      font-size: 20px;
      margin: unset;
      color: $dark-gray;
    }
  }
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img.author-headshot {
    border-radius: 100px;
    height: 40px;
    float: left;
    margin-right: 16px;
  }
  .author-details {
    display: inline-block;
  }
  .author-name {
    font-weight: 700;
    margin: 0;
  }
  .author-date {
    color: $lightest-gray;
    margin: 0;
  }

  .share {
    background-color: $light-gray-blue;
    border-radius: 100px;
    height: 32px;
    width: 32px;
    display: flex;
    cursor: pointer;
    position: relative;

    svg {
      margin: auto;
    }

    &:hover {
      background-color: $dark-gray;

      // change color of SVG arrow icon
      path {
        fill: $light-gray-blue;
      }
    }

    .share-popup {
      visibility: hidden;
      width: max-content;
      background-color: $dark-gray-blue;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 0.5rem 1.5rem;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -106px;

      span {
        vertical-align: middle;
        color: $lightest-gray;
        letter-spacing: 0.25rem;
      }

      img {
        padding: 10px 5px;
        vertical-align: middle;
      }

      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: $dark-gray-blue transparent transparent transparent;
      }

      &.show {
        visibility: visible;
      }
    }
  }
}
